.seat {
  width:  200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 3px black dotted;
  float:  left;
}

.click {
  cursor: pointer;
}

/*.seat:hover {
  border-style: solid;
}*/

fieldset {
  clear:  both;
}

.confirmed {
  border-color: blue;
}
.unconfirmed {
  border-color: gray;
}

.unavailable {
  border-color: red;
}
.available {
  border-color: white;
}

