.seat {
  width:  50px;
  height: 50px;
  margin: 5px;
  border: 3px black dotted;
  float:  left;
  cursor: pointer;
}

.seat:hover {
  border-style: solid;
}

fieldset {
  clear:  both;
}

.confirmed {
  border-color: blue;
}
.unconfirmed {
  border-color: gray;
}

.unavailable {
  border-color: red;
}
.available {
  border-color: green;
}

